<style>
    .uib-datepicker .uib-day:not(.datepicker-day-current-month) {
        visibility: hidden;
    }
</style>
<div class="card" ng-class="{'withtime' : step1.eventDetails.user.selectedDate}">
    <div class="step1box">
        <div class="step1box__meetinginfo--box">

            <div class="step1box__meeting--personbox">
                <div class="step1box__mpp--imagebox">
                    <img src="{{step1.eventDetails.presentorAvatar}}">
                </div>
                <div class="step1box__mpp--contentbox">
                    <h3>{{step1.eventDetails.presentor}}</h3>
                    <h4>
                        <img src="assets/images/mpu-clock-icon.png">
                        <span>{{step1.eventDetails.duration}}</span>
                    </h4>
                </div>
            </div>

            <div class="step1box__meeting--title">
                {{step1.eventDetails.title}}
            </div>

            <ul class="step1box__meeting--linkdec">
                <li>
                    <img src="assets/images/meeting-link-icon.png">
                    <span>{{step1.eventDetails.location}}</span>
                </li>
                <li>
                    <img src="assets/images/meeting-dec-icon.png" class="customimagepadding">
                    <span>
                        {{step1.eventDetails.description}}
                    </span>
                </li>
            </ul>

            <div class="step1box__meeting--videobox">
                <iframe width="100%" src="https://www.youtube.com/embed/mPCDQ34S8Rs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>

        </div>
        <div class="step1box__selectdate--box">
            <div class="step1box__st--title">
                <img src="assets/images/st-calendar-icon.png">
                <span>Select a Date</span>
            </div>
            <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="step1.eventDetails.user.selectedDate" ng-change="step1.dateChange()"
                    datepicker-options="step1.eventDateOptions" class="well well-sm">
                </div>
            </div>
            <div class="step1__selectimezone--box">
                <timezone-selector ng-model="step1.eventDetails.user.selectedTimezone"></timezone-selector>
            </div>
        </div>
        <div class="step1box__selecttime--box" ng-if="step1.eventDetails.user.selectedDate" id="hideBack">
            <div class="step1box__selecttime--backbtn" ng-click="step1.hideBack()">
                <img src="../assets/images/backbtn-icon.png">
            </div>
            <div class="step1box__st--title">
                <img src="../assets/images/st-time-icon.png">
                <span>Select a Time</span>
            </div>
            <div class="step1box__day--box">
                {{step1.eventDetails.user.selectedDate | date: 'EEEE, MMM d'}}
            </div>
            <ul class="step1box__time--listing" custom-scroll="{ 'theme': 'dark'}">
                <li class="list-group-item" ng-class="{'active' : step1.eventDetails.user.selectedTime ===  item}"
                    ng-click="step1.selectTime(item)" ng-repeat="item in step1.timeslots track by $index">{{item}}</li>
            </ul>
            <button ng-disabled="!step1.eventDetails.user.selectedTime" type="button" ng-click="step1.confirm()"
                class="step1box__confirm--btn">
                <img src="../assets/images/confirmbtn-icon.png">
                <span>Confirm</span>
            </button>
        </div>
    </div>
</div>